@media (min-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
    }
    
    nav ul {
        padding: 10%;
    }
    
    #wrapper {
        margin: auto;
        width: 80%;
    }
}
